@model IEnumerable<_0306191373_0306191333_0306191376_0306191482.Models.Invoice>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Hóa đơn";
}

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Danh sách hóa đơn</h3>
                <div class="table-data__tool">

                    <div class="table-data__tool-right">
                        <a asp-action="Create">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Add
                            </button>
                        </a>
                    </div>
                    <div class="table-data__tool-right">
                        <a asp-action="revenue">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i></i> Doanh Thu
                            </button>
                        </a>
                    </div>
                    <div class="table-data__tool-right">
                        <a asp-action="New">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i></i>Hóa Đơn theo tuần
                            </button>
                        </a>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>

                            <tr>
                                <th>
                                    <label class="au-checkbox">
                                        <input type="checkbox">
                                        <span class="au-checkmark"></span>
                                    </label>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IssueDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShippingAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShippingPhone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Total)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Account.Fullname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th></th>
                                
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IssueDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShippingAddress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShippingPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Account.Fullname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a> |
                                        <a asp-action="InvoiceDetails" asp-route-id="@item.id"> Invoice Details</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->

