@model IEnumerable<_0306191373_0306191333_0306191376_0306191482.Models.Account>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Tài khoản";
}

<!-- DATA TABLE-->
<section class="p-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Danh sách tài khoản</h3>
                <div class="table-data__tool">
                  
                    <div class="table-data__tool-right">
                        
                        <a asp-action="Create">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Add
                            </button>
                        </a>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                           
                                <tr>
                                    <th>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Username)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Address)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Fullname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsAdmin)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Avatar)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th></th>
                                </tr>
                            
                            </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="tr-shadow">
                                    <td>
                                        <label class="au-checkbox">
                                            <input type="checkbox">
                                            <span class="au-checkmark"></span>
                                        </label>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fullname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsAdmin)
                                    </td>
                                    <td>
                                        <img src="~/img/user/@Html.DisplayFor(modelItem => item.Avatar)" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <a asp-action="Details" asp-route-id="@item.id">Detail</a>  || 
                                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a>   || 
                                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a> |
                                            

                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END DATA TABLE-->
