@model IEnumerable<_0306191373_0306191333_0306191376_0306191482.Models.Cart>
@{
    ViewData["Title"] = "Trang chủ";
    string username = "Khach";
    bool member = false;
    if (ViewBag.UserName != null)
    {
        username = ViewBag.UserName;
        member = true;
        @section Member{<li><a asp-controller="Accounts" asp-action="Logout">Logout</a></li>}
        @section Cart{
            <div class="shopping-item">
                <a asp-controller="Carts" asp-action="CartUser">Cart<i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
            </div>
        }
    }
    else
    {
        @section Member{}
        @section Cart{
            <div class="shopping-item">
                <a asp-controller="Accounts" asp-action="Login">Cart<i class="fa fa-shopping-cart"></i></a>
            </div>
        }

    }
}
@section name{@username}

<div class="column" style="width:50%">
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Sản phẩm
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.SKU)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Price)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="@item.Product.Id" name="@item.Quantity" value="@item.Product.Price" />
                    </td>
                    <td>
                        <img src="~/img/@item.Product.Image" alt="Computer Man" style="width:72px;height:72px;">
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Product.SKU)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
